* {
  box-sizing: border-box;
}

body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  text-shadow: 0px 0px 20px #aaaaaa;
  font-family: 'Poppins', sans-serif;
  margin: 0 10px;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  align-self: center;
}

#weather-author {
  display: flex;
  justify-content: space-between;
}

.author,
.coder {
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.coder a {
  color: #fff;
  padding: 0 2px;
}

.currency-stock {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 8px;
}

.currency,
.stock,
.crypto {
  display: flex;
  flex-wrap: wrap;
}

.currency p,
.stock p,
.crypto p {
  margin: 0 10px;
  font-size: 1.4rem;
}

img.logo {
  width: 10%;
}

.currency-name,
.stock-name {
  font-weight: 700;
}

#weather {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}

.weather-img {
  width: 80px;
}

.temp {
  font-weight: 700;
}

.city {
  width: 100%;
  text-align: right;
  margin-top: -25px;
}

.stock p {
  width: 100%;
}

.stock p span {
  font-weight: 400;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 500px) {
  .time {
    display: none;
  }
  #weather {
    display: none;
  }
  .author,
  .coder {
    margin-bottom: 5px;
  }
  .currency-stock {
    margin: 200px auto;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
  }
}
