* {
  box-sizing: border-box;
}

body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
  text-shadow: 0px 0px 20px #aaaaaa;
  font-family: 'Poppins', sans-serif;
  margin: 0 7px;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  align-self: center;
}

#weather-author {
  display: flex;
  justify-content: space-between;
}

.author {
  font-size: 10px;
  /* margin: 0;
  padding-top: 25px; */
}

.currency {
  display: flex;
}

.currency p {
  margin: 0 10px;
  font-size: 2rem;
}

img.logo {
  box-shadow: 0px 0px 20px #aaaaaa;
}

.currency-name,
.currency-price {
  font-weight: 700;
}

#weather {
  display: flex;
}

.temp {
  align-self: center;
  padding-right: 20px;
  font-weight: 700;
}
